<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="/layout/layout">
<head>
<meta charset="UTF-8">
<title>자몽다 메인페이지 1조 화이팅^^</title>
</head>
<body>
	<th:block layout:fragment="content">
		<!--숙소검색영역-->
		<div>
			<p>검색하는 곳</p>
		</div>
		
		<!--숙소카테고리영역-->
		<div>
			<!--인기숙소-->
			<div>
				인기숙소
			</div>
			<!--국내인기여행지-->
			<div>
				국내인기여행지	
			</div>
			<!--자몽다pick-->
			<div>
				자몽다pick
			</div>
			<!--최저가숙소-->
			<div>
				최저가숙소
			</div>
		</div>
	</th:block>
</body>
</html>